<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
</head>
<body>
    <h1>File {{data.filename}} uploaded successfully!</h1>
    <button id="goBackButton">Go Back</button>
    <button id="viewFileStructure">View File Structure</button>
    <script>
        // Function to handle the button click event
        function redirectToHomePage() {
            // Redirect to the home page using the same route URL '/'
            window.location.href = "/";
        }
        function redirectToStructurePage() {
            // Redirect to the home page using the same route URL '/'
            window.location.href = "/show-structure";
        }

        // Get the button element by its ID
        var viewFileStructure = document.getElementById("viewFileStructure");

        var goBackButton = document.getElementById("goBackButton");

        // Attach the onclick event handler to the button
        goBackButton.onclick = redirectToHomePage;

        viewFileStructure.onclick = redirectToStructurePage;
    </script>
</body>
</html>